body {
  margin: 0;
  padding: 0;
}

.login {
  min-height: 100vh;
  background-image: url("/back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  background-size: 1300px 712px;
}

.form {
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.input-container {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 14px;
}

.label {
  margin-bottom: 5px;
}

.input {
  padding: 5px 15px 5px 5px;
}

.forgotten-password {
  align-self: flex-end;
  margin-top: 7px;
}

#login-btn {
  align-self: center;
  padding: 7px 30px;
  margin-top: 30px;
  border: none;
  color: #fff;
  background-color: rgb(255, 39, 147);
  box-shadow: 2px 2px 2px rgb(204, 4, 121);
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.2s ease-in;
}

#login-btn:hover {
  background-color: rgb(204, 4, 121);
  box-shadow: none;
  transform: translateX(1px) translateY(1px);
}

.signup-label {
  position: relative;
  bottom: -10px;
  color: #fff;
  font-size: 14px;
}

.link {
  text-decoration: none;
  color: rgb(204, 4, 121);
}

.link:hover {
  text-decoration: underline;
}

.buttonLogin {
  display: inline-block;
  padding: 0.75rem 1.25rem;

  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.buttonLogin:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #cc0479;

  z-index: -2;
}

.buttonLogin:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #3359b4;
  transition: all 0.3s;
  z-index: -1;
}

.buttonLogin:hover {
  color: #fff;
}

.buttonLogin:hover:before {
  width: 100%;
}
