.SignIn {
    width    : 100%;
    max-width: 450px;
    margin   : 0 auto;
}

.SignIn__form {
    margin-top: 1rem;
    padding   : 1.5rem;
}

.SignIn__bottom-link {
    a {
        margin-left: 1rem;
    }
}